
<GridLayout class="page__content">
    <Label class="page__content-icon fas" text="Nuevo módulo"></Label>
    <TextField text="ngModal" [(ngModel)]="nombreUusuario"></TextField>
    <Button text="Guardar" (tap)="Guardar()"></Button>
</GridLayout>